@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  font-family: "Open Sans", sans-serif;
}
.weather-app {
  background-color: #e5f3e0;
  padding: 20px;
  border: 1px solid #c7e5ba;
  border-radius: 8px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  text-transform: capitalize;
  font-size: 14px;
}
.city-name {
  font-size: 25px;
}

h1 {
  text-align: center;
}
h1 strong {
  font-size: 70px;
}
.units {
  font-size: 14px;
  position: relative;
  top: -38px;
}
.units .active {
  cursor: default;
  color: black;
  text-decoration: none;
}

.units .active:hover {
}
